@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Sigmar&family=Ubuntu&display=swap');
@import '/src/styles/header.scss';
@import '/src/styles/jumbotron.scss';
@import '/src/styles/restaurant.scss';

@import '/src/styles/footer.scss';
@import '/src/styles/responsive.scss';
@import '/src/styles/detail.scss';
@import '/src/styles/review.scss';
@import '/src/styles/loading.scss';

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: 'Delicious Handrawn', cursive;
  font-family: 'Sigmar', cursive;
  font-family: 'Ubuntu', sans-serif;
}

body {
  overflow-x: hidden;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background-color: #bf1722;
  color: white;
  padding: 8px;
  z-index: 100;

  &:focus {
    top: 0;
  }
}